
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("ChangePassword", "LoginPage", FormMethod.Post))
        {
            if(Session["uname"].ToString()!=string.Empty && Session["uname"] != null)
            {
                <h1>Welcome User @Session["uname"]</h1>
            }
            <form>
                @*Old Password: <input type="password" , placeholder="Enter New Password" name="Password" /><br />*@
                Change Password: <input type="password", placeholder="Enter New Password" name="Password" /><br />
                <button onclick="Submit">Save Changes</button>
                <button>@Html.ActionLink("Back","LoginSuccessfull")</button>
            </form>
        }
    </div>
</body>
</html>
