
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <div>
        <center> 
        <h1>Contact : </h1><br />
            <h3> Ashutosh Bahinipati <a href="mailto:ashutosh@example.com?Subject=Hello%20again" target="_top">Send Mail</a></h3>
           <p> Phone : 7894157890 <br />
            Tech Mahindra </p>
            <h3> Jeevan Kumar <a href="mailto:ashutosh@example.com?Subject=Hello%20again" target="_top">Send Mail</a></p></h3>
            <p> Phone : 9562487136 <br />
            Tech Mahindra </p>
       
            <button>@Html.ActionLink("Back","Login")</button>
             </center>
    </div>
</body>
</html>
