
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginFailure</title>
</head>
<body>
    <div> 
       <center>
           <h1>
               Error Encountered!!
               <br />
               Your Entered Credentials do not match!! <br />
               Click below to login again<br />
               <button>@Html.ActionLink("Login Again","Login")</button>
           </h1>
       </center>
    </div>
</body>
</html>
